version: 2
updates:

  # Maintain dependencies for Golang
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
